.success {
    color: green;
    background-color: lightgreen;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem 0;
    width: 400px;
}

.error{
    color: red;
    background-color: lightpink;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem 0;
    width: 400px;
}